/* Default (blue/green) Style */

#headerstripe { background-color:#5fb539; }
#header { background-color:#2a6ec7; }
#header .name { color:#FFFFFF; }
#header .nav a { color:#FFFFFF;border:1px solid #2a6ec7; }
#header .nav a:hover { color:#FFFFFF; border:1px solid #668abb; background-color:#215191; }
#header .nav .active { border:1px solid #668abb; background-color:#215191; }

#rightbar { background-color:#f0f6fd; }
#rightbar a { color:#666666; }
#rightbar a:hover { background-color:#666666; color:#FFFFFF; }

#content .links a { color:#3567aa; background-color:#FFFFFF;  }
#content .links a:hover { background-color:#3567aa; color:#ffffff; }
#content .links .active { background-color:#3567aa; color:#FFFFFF; }

#content a { color:#3567aa; }
#content a:hover { background-color:#3567aa; color:#FFFFFF; }

#content h1 { color:#5b5b5b; }
#content h2 {  color:#ce1c4e; }

#content .sublink { background-color:#ce1c4e; color:#FFFFFF; }
#content .sublink:hover { background-color:#FFFFFF; color:#ce1c4e; }

.logoborder { border:3px solid #C2CDE4; }